@import "../../base.scss";

.profile {
  margin-bottom: 3rem;
  padding: 3rem;
  border-radius: var(--border-radius-default);
  background: white;
  width: 100%;
  box-shadow:
          0px 1.7px 2.2px rgba(0, 0, 0, 0.07),
          0px 4.1px 5.3px rgba(0, 0, 0, 0.05),
          0px 7.8px 10px rgba(0, 0, 0, 0.042),
          0px 13.8px 17.9px rgba(0, 0, 0, 0.035),
          0px 25.9px 33.4px rgba(0, 0, 0, 0.028),
          0px 62px 80px rgba(0, 0, 0, 0.02)
;

  .Heading {
    display: flex;
    align-items: center;
    gap: 3rem;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 15px;
    margin-bottom: 2rem;
  }

  h3 {
    font-weight: 600;
  }

  .button-container {
    width: 100%;

    button {
      margin: 0 auto;
      width: auto !important;
      margin-top: 3rem;
      padding: 1.5rem 4rem;
    }
  }

}


.user-informations {
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  span {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
}

.user-informations > div {
}


.icon-return {
  color: $secondary;
  //   padding-bottom: 1rem;
}

.icon-return:hover {
  color: $primary;
}

.form-profile {
  margin-top: 50px;
}
