@import "~bootstrap/scss/bootstrap";
// fonts

* {
  font-family: "Libre Franklin", sans-serif !important;
}

@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&display=swap");

// colors

$primary: #f8dad9;
$secondary: #43385e;

$text-primary: #212122;
$text-secondary: #ffffff;

$info: #31a14d;
$danger: #bd1e1e;

a {
  color: $secondary;
  font-style: italic;
  text-decoration: none;
}
