// fonts

@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&display=swap");

// colors

$primary: #f8dad9;
$secondary: #43385e;

$text-primary: #212122;
$text-secondary: #ffffff;
