@import "../../base.scss";

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.input-container-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  & label {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
  }
}
.input {
  margin: 1rem;
}
