@import '../../base.scss';

.mainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 50px;

    > div:not(.ask-lists) {
            padding: 20px;
            border-radius: var(--border-radius-default);
            background: white;
            box-shadow: 0px 1.7px 2.2px rgb(0 0 0 / 7%), 0px 4.1px 5.3px rgb(0 0 0 / 5%), 0px 7.8px 10px rgb(0 0 0 / 4%), 0px 13.8px 17.9px rgb(0 0 0 / 4%), 0px 25.9px 33.4px rgb(0 0 0 / 3%), 0px 62px 80px rgb(0 0 0 / 2%);

            h3 {
                margin-bottom: 3rem;
            }


            table {
                border-collapse: collapse;
                width: 100%;
                border-radius: var(--border-radius-default);
                overflow: hidden;

                td, th {
                    border: 1px solid #ddd;
                    padding: 8px;
                }

                tr:nth-child(even){background-color: #f2f2f2;}

                tr:hover {background-color: #ddd;}

                th {
                    padding: 12px 24px !important;
                    text-align: left;
                    border-color: #f2f2f2;
                    background-color: $secondary;
                    color: black
                }

                td  {
                    padding: 12px 24px !important;
                }

            }

    }
}

.ask-lists {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 50px;
    width: 100%;

    > div {
        padding: 20px;
        border-radius: var(--border-radius-default);
        background: white;
        box-shadow: 0px 1.7px 2.2px rgb(0 0 0 / 7%), 0px 4.1px 5.3px rgb(0 0 0 / 5%), 0px 7.8px 10px rgb(0 0 0 / 4%), 0px 13.8px 17.9px rgb(0 0 0 / 4%), 0px 25.9px 33.4px rgb(0 0 0 / 3%), 0px 62px 80px rgb(0 0 0 / 2%);

        h3 {
            margin-bottom: 3rem;
        }


        table {
            border-collapse: collapse;
            width: 100%;
            border-radius: var(--border-radius-default);
            overflow: hidden;

            td, th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            tr:nth-child(even){background-color: #f2f2f2;}

            tr:hover {background-color: #ddd;}

            th {
                padding: 12px 24px !important;
                text-align: left;
                border-color: #f2f2f2;
                background-color: $secondary;
                color: black
            }

        }

    }
}

.verify-users-list {
    width: 100%;
}

.verify-users-title,
.ask-campaigns-title {
    font-weight: bold;
}

.verify-cell {
    width: 120px;
}

.accept-cell,
.decline-cell {
    width: 50px;
}

.verify-user-button,
.accept-user-button,
.decline-user-button {
    padding: 1.2rem 2.4rem;
    background-color: $primary;
    border-radius: var(--border-radius-default);
    font-size: 16px;
    transition: all 0.25s ease-in;
    width: 100%;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    gap: 15px;
}

.verify-user-button:hover,
.accept-user-button:hover,
.decline-user-button:hover {
}

.ask-campaigns-list {
    width: 100%;
}