@import '../../base.scss';

.ask-lists {
    width: 100%;
    display: flex;
}

.verify-users-list {
    width: 100%;
}

.verify-users-title,
.ask-campaigns-title {
    font-weight: bold;
}

.verify-cell {
    width: 120px;
}

.accept-cell,
.decline-cell {
    width: 50px;
}

.verify-user-button,
.accept-user-button,
.decline-user-button {
    background-color: $secondary !important;
    color: white !important;
    border: 1px solid $secondary !important;
    height: 40px;
    margin: 0 auto;
}

.verify-user-button:hover,
.accept-user-button:hover,
.decline-user-button:hover {
    background-color: #ECECEC !important;
    color: $secondary !important;
    border: 1px solid $secondary !important;
}

.ask-campaigns-list {
    width: 100%;
}