@import '../../base.scss';

// .cards {
//     display: flex;
//     flex-wrap: wrap;
//     align-items: center;
//     justify-content: space-around;
//     max-width: 1200px;
//     margin: 40px 0;
// }

// .card-content {
//     background: $primary;
// }

.campaigns-list {
    width: 100%;
}

.campaign {
    margin-bottom: 20px;
}

.sessions-list {
    display: flex;
    flex-wrap: wrap;
}

.session-card {
    width: 19%;
    margin: 3%;
    background-color: $primary;
    text-align: center;
    padding: 1% 0;
}

.session-card>h4 {
    font-weight: bold;
    margin: 8%;
    color: $secondary;
}

.session-card>button {
    background-color: $primary;
    border: solid $secondary;
    color: $primary;
    padding: 8px 16px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 16px 8px;
}

.session-card>button:hover {
    text-decoration: none;
    color: white;
}