@import "../../base.scss";

// .cards {
//     display: flex;
//     flex-wrap: wrap;
//     align-items: center;
//     justify-content: space-around;
//     max-width: 1200px;
//     margin: 40px 0;
// }

// .card-content {
//     background: $primary;
// }

.campaigns-list {
  width: 100%;
}

.product-name {
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 15px;
  margin-bottom: 2rem;
  font-weight: 600;
}

.campaign {
  margin-bottom: 3rem;
  padding: 20px;
  border-radius: var(--border-radius-default);
  background: white;
  box-shadow:
          0px 1.7px 2.2px rgba(0, 0, 0, 0.07),
          0px 4.1px 5.3px rgba(0, 0, 0, 0.05),
          0px 7.8px 10px rgba(0, 0, 0, 0.042),
          0px 13.8px 17.9px rgba(0, 0, 0, 0.035),
          0px 25.9px 33.4px rgba(0, 0, 0, 0.028),
          0px 62px 80px rgba(0, 0, 0, 0.02)
;

}

.sessions-list {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}



.session-card {
  width: 100%;
  background: #f2f2f2;
  border-radius: var(--border-radius-default);
  padding: 2rem;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  position: relative;

  .liveContainer {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #6ab04c;
    font-size: 25px;
    border-radius: 50000px;

    &::after {
      content: 'Running';
      font-size: 12px;
      font-family: 'Roboto', 'sans-serif';
      position: absolute;
      right: 120%;
      top: 50%;
      transform: translateY(-70%);
    }
  }

  a {
    padding: 1.2rem 2.4rem;
    background-color: $secondary;
    border-radius: var(--border-radius-default);
    margin: 3rem 0 0 0;
    font-size: 16px;
    transition: all .25s ease-in;
    width: 100%;
    border: none;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    gap: 15px;

    &:hover {
      background: $primary;
      color: white;
      box-shadow: 0px 3px 15px rgba(0,0,0,0.15);
    }
  }

}

.session-card > h4 {
  font-weight: bold;
  color: black;
  margin-bottom: 2rem;
}



.card-button {
  background-color: $primary;
  border: solid $secondary;
  color: $secondary;
  padding: 8px 16px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 16px 8px;
}

.card-button:hover {
  text-decoration: none;
  color: white;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}
